* {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

body {
    background-image: url("assets/background.jpg")
}


.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.center {
    border-right: gray solid 1px;
    border-left: gray solid 1px;
    padding: 0 40px;
}

.container {
    position: relative;
    width: 100%;
    height: 50%;
    margin: 0 100px;
    
}

.label {
    position: absolute;
    background: purple;
    color: white;
    left: 0;
    top: 75%;
    width: 300px;
    text-align: center;
    font-size: 24px;
}

h1 {
    width: 25%;
    font-size: 2.5rem;
    padding: 20px 10px;
    /* background-color: purple;  */
    color: purple;
}

h2 {
    background: purple;
    color: white;
    font-size: 3rem;
    text-align: left;
    border-bottom: gray solid 2px;
}

h3 {
    background: purple;
    color: white;
    width: 300px;
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 200px;
    position: absolute;
    padding: 0 5px;
    text-align: center;
    z-index: 20;
    top: 175px;
    
    /*border-top: 200px;*/
}

h4 {
    font-size: 20px;
    font-weight: 300;
    color: white;
    border-top: purple solid 5px;
    background-color: gray;
    padding: 20px 500px 0;
    text-align: center;
}

header {
    fill: auto;
    display: inline;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow: hidden;
}

li a {
    display: block inline;
    color: black;
    font-style: Times;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



#center {
    padding: 0 400px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

li {
    display: inline;
    list-style-type: none;
}

.photoWrapper {
    position: relative;
}

.box-set {
    color: red;
}

.box {
    position: absolute;
}

label {
    text-align: left;
    font-size: 24px;
    fill: auto;
    width: auto;
}

img {
    display: block;
    float: left;
    fill: auto;
    margin-left: auto;
    margin-right: auto;
    size: 100%;
    position: relative;
}

a:hover {
    background: black;
    color: white;
}

.section {
    float: left;
    padding: 30px;
    margin: 0 0 40px;
    background:#FFFFFF;
    border: 1px solid gray;
}

.wrapper {
    position: relative;
    float: left;
    width: 275px;
    margin: 20px 0 25px;
    overflow: hidden;
}

.wrapper:nth-child(even) {
    margin-right: 40px;

}

.wrapper img {
    width: 100%;
    border: 0 none;

}

.wrapper h3 {
    position: absolute;
    width: 235px;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 20px;
    left: 20px;
}

.auth-image {
    float: left;
    width: 200px;
    height: auto;
    margin-top: 10px;
    margin-right: 25px;
}

html, body {
    height: 100%;
    margin: 0;
}

.content {
    min-height: 100%;
}

.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}

.footer {
    height: 50px;
}

.center-link {
    border-left: 2px solid purple;
    border-right: 2px solid purple;
}

