* {
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
}

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

.center {
    border-right: gray solid 1px;
    border-left: gray solid 1px;
    padding: 0 40px;
}

.container {
    position: relative;
}

.label {
    position: absolute;
    background: turquoise;
    color: white;
    left: 0;
    top: 75%;
    width: 300px;
    text-align: center;
    font-size: 24px;
}

h1 {
    width: 250px;
    padding: 20px 10px;
    background-color: turquoise; 
    color: white;
}

h2 {
    color: turquoise;
    text-align: left;
    border-bottom: gray solid 2px;
}

h3 {
    background: turquoise;
    color: white;
    width: 300px;
    font-weight: 100;
    border-top: 200px;
}

h4 {
    font-size: 10px;
    font-weight: 100;
    color: white;
    border-top: turquoise solid 5px;
    background-color: gray;
    padding: 20px 500px 0;
    text-align: center;
}

header {
    fill: auto;
    display: inline;
}

ul {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    overflow: hidden;
}

li a {
    display: block inline;
    color: black;
    font-style: Times;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



#center {
    padding: 0 400px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

li {
    display: inline;
    list-style-type: none;
}

.photoWrapper {
    position: relative;
}

h3 {
    position: absolute;
    padding: 0 5px;
    text-align: center;
    z-index: 20;
    top: 75%;
}

img {
    position: relative;
}

.box-set {
    color: red;
}

.box {
    position: absolute;
}

label {
    text-align: left;
    font-size: 24px;
    fill: auto;
    width: auto;
}

img {
    display: block;
    float: left;
    fill: auto;
    margin-left: auto;
    margin-right: auto;
}

a:hover {
    background: black;
    color: white;
}


